.moduleTable thead tr th{
	vertical-align: middle !important;
	text-align: center;
}

.projectChargeCalculatorModule input[type=text], .projectChargeCalculatorModule input[type=number]{
	width : 100%;
	text-align: center;
}


.projectChargeCalculatorModule .fctRow .fctRowName{
	width : 300px;
}

.projectChargeCalculatorModule .fctRow .fctRowCost{
	text-align: center;
}
